<div class="acknowledgement">
  <p>
    We kindly ask you to cite the following publication if you use AiiDAlab:
  </p>
  <p class="reference">
    A. V. Yakutovich et al., <em>Comp. Mat. Sci.</em> <b>188</b>, 110165 (2021).
    <br />
    <a href="https://doi.org/10.1016/j.commatsci.2020.110165" target="_blank"
      >DOI:10.1016/j.commatsci.2020.110165</a
    >
  </p>
  <p class="reference">
    A. V. Yakutovich et al., <em>Digit. Discov.</em> <b>5</b>, 2310-2324 (2026).
    <br />
    <a href="https://doi.org/10.1039/D5DD00567A" target="_blank"
      >DOI:10.1039/D5DD00567A</a
    >
  </p>
</div>
