This work is or has been supported by the
<a href="http://nccr-marvel.ch"
  >MARVEL National Centre of Competence in Research</a
>
funded by the
<a href="http://www.snf.ch/en">Swiss National Science Foundation</a>, the
MARKETPLACE project funded by
<a href="https://ec.europa.eu/programmes/horizon2020/">Horizon 2020</a> under
the H2020-NMBP-25-2017 call (Grant No.&nbsp;760173), as well as by the
<a href="http://www.max-centre.eu/">MaX European Centre of Excellence</a> funded
by the Horizon 2020 EINFRA-5 program, Grant No.&nbsp;676598, and other
<a href="https://www.materialscloud.org/home#partners"
  >Materials Cloud partners</a
>.
